.label {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.root {
    -fx-background-color:  linear-gradient(to right, rgb(2, 2, 2), rgba(2, 2, 2, 0.93));
    -fx-background-radius: 10;
}


.button {
    -fx-font-size: 14px;
    -fx-background-color: rgb(1, 189, 26); /* Цвет фона кнопки */
    -fx-text-fill: rgba(2, 2, 2, 0.93); /* Цвет текста кнопки */
    -fx-padding: 2 0 2 10px;
}

.root {
    -fx-background-color:  linear-gradient(to right, rgba(2, 2, 2, 0.93), rgb(1, 189, 26));
    -fx-background-radius: 10;
}


/* Стили для TableView
.root{
    -fx-background-color: #262626;
}*/

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view,
.table-view .column-header,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: #020202;
}

.table-view .column-header-background{
    -fx-background-color: rgba(2, 2, 2, 0.93);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:hover {
    -fx-background-color: #ffffff;
    -fx-text-background-color: rgba(2, 2, 2, 0.93);
}

.table-row-cell:odd{
    -fx-background-color: rgba(2, 2, 2, 0.93);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-background-color: rgba(255, 255, 255, 0.95);
}

.table-row-cell:even{
    -fx-background-color: rgba(33, 33, 33, 0.95);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-background-color: rgba(255, 255, 255, 0.95);
}

.table-row-cell:highlighted {
    -fx-background-color: -primary;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;

}
.table-row-cell:selected {
    -fx-background-color: rgb(1, 189, 26);
    -fx-text-background-color: rgba(2, 2, 2, 0.93);
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}


.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: rgb(1, 189, 26);
}


.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to right, rgba(2, 2, 2, 0.93), rgba(33, 33, 33, 0.95));
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, rgba(2, 2, 2, 0.93), rgba(33, 33, 33, 0.95));
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}